name: Docker Image Syncrhonet BBS

on:
  push:
    branches:
    - main
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Synchronet-BBS
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.actor }}/synchronet-bbs:latest
            ghcr.io/${{ github.actor }}/synchronet-bbs:${{ github.sha }}
            ghcr.io/${{ github.actor }}/synchronet-bbs:${{ github.run_number }}